* {
    font-family: roboto, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    margin: 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

header ul {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

/*
This has no effect
.content {
    display: flex;
    flex-flow: column nowrap;
}
*/

/* TEMPORARY */
section {
    border: solid 2px black;
    height: 400px;
}